[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = ES
ST = Barcelona
L = Barcelona
O = Hospital de la Santa Creu i Sant Pau
OU = IT
CN = jitsi.sesiones-clinicas.apps.kairos03.santpau.es

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = jitsi.sesiones-clinicas.apps.kairos03.santpau.es
DNS.2 = www.jitsi.sesiones-clinicas.apps.kairos03.santpau.es

