[defaults]
# Aumenta el paralelismo. De 5 (default) a 30.
forks = 30
# No pierdas tiempo recolectando facts si no los usas para decisiones complejas
gathering = smart
# Tiempo de espera de SSH (bájalo de 30 a 10 para detectar rápido las caídas)
timeout = 10

[ssh_connection]
# Acelera las conexiones reutilizando el socket
pipelining = True
