[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = ES
ST = Barcelona
L = Barcelona
O = Hospital de la Santa Creu i Sant Pau
OU = IT
CN = modulabana.santpau.cat

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = modulabana.santpau.cat
DNS.2 = www.modulabana.santpau.cat

